# JetBrains
.idea/

# FireHub
firehub/*
!firehub/.gitkeep
!firehub/core/

firehub/core/*
!firehub/core/.gitkeep

# App
storage/cache/*
!storage/cache/.gitkeep
storage/dumps/*
!storage/dumps/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/logs/debug/*
!storage/logs/debug/.gitkeep
storage/sessions/*
!storage/sessions/.gitkeep
storage/temp/*
!storage/temp/.gitkeep

vendor/phpdocumentor.phar
vendor/phpstan.phar
vendor/phpunit.phar